<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exportkit.figma">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".accounting_and_other"
            android:exported="false" />
        <activity
            android:name=".custom_list_view_for_corporate_registration"
            android:exported="false" />
        <activity
            android:name=".custom_listview_for_corporate_tax"
            android:exported="false" />
        <activity
            android:name=".customListView"
            android:exported="false" />
        <activity
            android:name=".menu_screen"
            android:exported="false" />
        <activity
            android:name=".spashscreen_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample_activity" />
        <activity android:name=".homescreen_activity" />
        <activity android:name=".aboutus_activity" />
        <activity android:name=".personal_tax_screen_activity" />
        <activity android:name=".corporatetax_screen_activity" />
        <activity android:name=".corporate_registration_activity" />
        <activity android:name=".contact_screen_activity" />
        <activity android:name=".appointment_screen_activity" />
        <activity android:name=".sent_appointment_screen_activity" />
    </application>

</manifest>